<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
 </configSections>
 <connectionStrings>
     <add name="MyConnection" connectionString="server=.\SQLEXPRESS;database=NTierNoteRecordingSystemDB; integrated security = true"
         providerName="System.Data.SqlClient" />
     <add name="Project.WFAUI.Properties.Settings.NTierNoteRecordingSystemDBConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=NTierNoteRecordingSystemDB;Integrated Security=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
		
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>